#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

#myCarouse2 {
    background-color: #b5d0d4;
}

#myCarouse2 img {
    height: 300px;
    margin-top: 35px;
}

.container {
    text-align: center;
}
